/*
* @Author: Administrator
* @Date:   2017-09-25 19:50:52
* @Last Modified by:   Administrator
<<<<<<< HEAD
* @Last Modified time: 2017-10-02 13:58:53
=======
* @Last Modified time: 2017-09-26 21:28:27
>>>>>>> e27f21fd25d8594f11fc989e3425af3418ee285e
*/

div.load-cont{
	position: absolute;
	width: 100%;
	display: block;
	background-color: rgb(233,241,249);
}
<<<<<<< HEAD
div.w.cont,div.load-cont{
=======
div.w,div.load-cont{
>>>>>>> e27f21fd25d8594f11fc989e3425af3418ee285e
	height: 1000px;
}
div.w .nav-side{
	margin-left: 0px;
	width: 20%;
}
div.rightCont{
	float: left;
	width: 80%;
	background-color: #fff;
	margin-top: 50px;
	border-radius: 10px;
}
.rightInnerCont{
	padding: 30px;
	line-height: 30px;
}
.rightInnerCont h3{
	    border-bottom: 1px solid #b4001c;
	    padding-bottom: 10px;
}
.rightInnerCont ul li:nth-child(1){
	padding-top: 10px;
}
button.js-userInfoEdit {
    background-color: #b4001c;
    color: #fff;
    padding: 10px 20px;
    border: none;
}